*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

div{
    width: 30vw;
    height: 20vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30vh;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
}

input[type=text]{
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
    border: 1px solid rgba(119, 119, 119, 0.473);
    border-radius: 10px;
}

button{
    width: 14vw;
    margin: 0px auto;
    padding: 5px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}

span.buttons{
    display: flex;
}